html, body {
    margin: 0;
    background: transparent;
}

.app {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent;
}

.side-bar {
    position: absolute;
    width: 20rem;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-right: 0.5px solid #00000038;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.side-bar::-webkit-scrollbar {
    display: none;
}

.content-area {
    position: absolute;
    width: calc(100% - 20rem);
    background: #1c1c1c;
    height: 100%;
    right: 0;
    z-index: 1;
    overflow: hidden;
}

.filter {
    color: #FFFFFF80;
    font-size: 0.8rem;
    font-weight: 700;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
}

.split {
    width: 100%;
    height: 1px;
    background: #FFFFFF30;
    margin-bottom: 1rem;
}

.side-content {
    padding: 12px 16px 12px 16px;
    margin: 0 6px 4px 6px;
    font-size: 0.84rem;
    color: #FFFFFFCF;
    border-radius: 0.5rem;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: 0.02s ease-out;
}

.menu-icon {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    opacity: 0.5;
    right: 0.8rem;
    padding: 2px 8px 2px 8px;
    background: #FFFFFF25;
    border-radius: 0.4rem;
}

.focus {
    background: #EEBB23A0;
}

.title, .subtitle {
    margin-left: 0.4rem;
}

.title {
    font-size: 1rem;
    font-weight: 700;
}

.subtitle {
    opacity: 0.75;
    font-size: 0.7rem;
    font-weight: 300;
}

iframe {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    overflow: hidden;
}