/*
참고 : https://itnext.io/how-to-create-a-custom-right-click-menu-with-javascript-9c368bb58724
*/

#context {
    position: fixed;
    z-index: 5;
    width: 150px;
    background: #bfbfbf;
}

#context .item {
    padding: 8px 10px;
    font-size: 15px;
    color: #000000;
    border-radius: inherit;
}

#context .item:hover {
    background: #aaaaaa;
}