
#context {
    position: fixed;
    z-index: 5;
    width: 150px;
    background: #bfbfbf;
    display: none;
}

#context .item {
    padding: 8px 10px;
    font-size: 15px;
    color: #000000;
    border-radius: inherit;
}

#context .item:hover {
    background: #aaaaaa;
}

#context.visible {
    display: block;
}