* {
    overflow: hidden;
}

div.cursor-default {
    animation: bad 0.01s infinite;
}

div.cursor-pointer {
    animation: bap 0.01s infinite;
}

div.cursor-text {
    cursor: url(../cursor/Beam.cur) 2 2, default;
}

div.cursor-wait {
    cursor: url(../cursor/Cursor_3.cur) 2 2, default;
}

@keyframes bad {
    0% {
        cursor: none;
    }

    50% {
        cursor: url(../cursor/arrow.cur) 2 2, default;
    }

    100% {
        cursor: none;
    }
}

@keyframes bap {
    0% {
        cursor: none;
    }

    50% {
        cursor: url(../cursor/Cursor_15.cur) 8 8, pointer;
    }

    100% {
        cursor: none;
    }
}

@keyframes mfk {
    0% {
        opacity: 0.995;
    }

    100% {
        opacity: 1.0;
    }
}

.curnone {
    cursor: none;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.desktop-color {
    background-color: #000000;
}

.fbl {
    width: 16.5%;
    height: 100vh;
    float: left;
    left: 0;
    position: absolute;
    z-index: 2;
    background: #000;
}

.fbr {
    width: 16.5%;
    height: 100vh;
    float: right;
    right: 0;
    position: absolute;
    z-index: 2;
    background: #000;
}

.taskbar {
    height: 28px;
    background-color: #c0c0c0;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-top: ridge 2px #ffffff;
    z-index: 2;
}

.start {
    background-color: #c0c0c0;
    float: left;
    width: 64px;
    height: 20px;
    display: inline-block;
    padding: 1px 2px;
    margin-left: 5px;
    cursor: default;
    user-select: none;
}

.startRest {
    border-top: ridge 3px #ffffff;
    border-left: ridge 3px #ffffff;
    border-bottom: ridge 3px #000000;
    border-right: ridge 3px #000000;
}

.startimg {
    margin-top: 0px;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    width: 21px;
}

.startfont {
    font-size: 15px;
    font-family: 'Gulim';
    font-weight: bold;
    float: left;
    text-align: left;
    margin-left: 3px;
    margin-top: 1px;
}

.startRest:hover {
    border-top: ridge 3px #000000;
    border-left: ridge 3px #000000;
    border-bottom: ridge 3px #ffffff;
    border-right: ridge 3px #ffffff;
}

.start:hover {
    background-color: #aaaaaa;
}

.notifications {
    width: 100px;
    height: 22px;
    margin-right: 5px;
    border-top: inset 3px #808080;
    border-left: inset 3px #808080;
    border-bottom: inset 3px #ffffff;
    border-right: inset 3px #ffffff;
    display: inline-block;
    float: right;
}

.desktop {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.screen {
    background-color: #008080;
    width: 66.7%;
    height: 0;
    padding-bottom: 100vh;
    position: relative;
    overflow: hidden;
}

#sounddisplay {
    margin-top: 4px;
    margin-left: 8px;
    float: left;
    width: 16px;
}

#timedisplay {
    font-family: 'Gulim';
    font-size: 13px;
    margin-top: 5px;
    margin-right: 5px;
    float: right;
}


.dragnull {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

#box {
    width: 1px;
    height: 1px;
    background-color: #00000000;
    border: #ffffffFF dashed 2px;
    mix-blend-mode: difference;
    position: absolute;
    z-index: 1;
    transform: translate(-100%, -100%);
    opacity: 0.0;
}

.curz {
    pointer-events: none;
}

.digital {
    position: absolute;
    width: 100%;
    height: 5px;
    z-index: 2;
    filter: blur(8px);
}

.digital1 {
    background: linear-gradient(#ff000090, #00ff0090);
    animation: downscroll1 0.25s infinite;
}


.digital2 {
    background: linear-gradient(#00ff0090, #0000ff90);
    animation: downscroll2 0.35s infinite;
}

@keyframes downscroll1 {
    0% {
        top: 0%;
    }

    50% {
        top: 75%
    }

    100% {
        top: 100%;
    }
}

@keyframes downscroll2 {
    0% {
        top: 0%;
    }

    75% {
        top: 25%
    }

    100% {
        top: 100%;
    }
}