

.iconlist {
    position: absolute;
    top: 3%;
    left: 3%;
    z-index: 2;
    animation: taskfirst 2.1s forwards steps(1, end);
}

.iconimg {
    width: 45px;
    height: 45px;
    margin-top: 1px;
    margin-bottom: 2px;
}

.icon {
    margin: 0px;
    padding: 1px;
    text-align: center;
    width: 75px;
    border: #FFFFFF00 dashed 1px;
}

.icontext {
    font-family: Gulim;
    font-size: 13px;
    color: #FFF;
    margin-bottom: 12px;
}

.iconbackground {
    background: #08246bDD;
    border: #FFFFFFA0 dashed 1px;
    mix-blend-mode: difference;
}