

.iconlist {
    position: absolute;
    top: 3%;
    left: 3%;
    z-index: 2;
    animation: taskfirst 2.1s forwards steps(1, end);
}

.iconimg {
    width: 42px;
    height: 42px;
    margin-bottom: 3px;
}

.icon {
    margin: 1px;
    padding: 2px;
    text-align: center;
    width: 75px;
}

.icontext {
    font-family: Gulim;
    font-size: 13px;
    color: #FFF;
    margin-bottom: 24px;
}

.iconbackground {
    background: #08246b;
    border: #FFFFFFAA dashed 1px;
    mix-blend-mode: difference;
}