
* {
    cursor: none;
}

.console-color {
    background-color: #000000;
}

.message {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: DungGeunMo;
    font-size: 52px;
    color: #e6892a;
    cursor: none;
}