
/* 어두운 테마 시 CSS 변수 설정 */
@media (prefers-color-scheme: dark) {
    :root {
        --background-image: url("../res/images/sonoma_dark.jpg");
    }
}

/* 밝은 테마 시 CSS 변수 설정 */
@media (prefers-color-scheme: light) {
    :root {
        --background-image: url("../res/images/sonoma_light.jpg");
    }
}

.gui-env {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: var(--background-image);
    background-size: cover;
    overflow: hidden;
}

.bottom-dock {
    position: absolute;
    width: auto;
    height: 4.6rem;
    left: 50%;
    bottom: 0.5rem;
    padding: 0 0.5rem 0 0.5rem;
    transform: translateX(-50%);
    background: var(--dock-color);
    border: solid 2px var(--dock-outline);
    filter: drop-shadow(0 0 24px #0000003F);
    -webkit-filter: drop-shadow(0 0 24px #0000003F);
    backdrop-filter: blur(48px);
    -webkit-backdrop-filter: blur(48px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 1.6rem;
    z-index: 5;
}

.dock-item {
    position: relative;
    width: 3.7rem;
    height: 3.7rem;
    margin: 0.3rem 0.1rem 0.4rem 0.1rem;
    border-radius: 1rem;
    transition: 0.2s ease-out;
    background-size: cover;
    cursor: pointer;
}

.dock-item-focus {
    width: 5rem;
    height: 5rem;
    transform: scale(150%) translateY(-35%);
    margin: 0.5rem 1.2rem 0.25rem 1.2rem;
}

.has-focus {
    position: absolute;
    width: 0.25rem;
    height: 0.25rem;
    background: #FFFFFFA0;
    border-radius: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    bottom: -0.25rem;
    transition: 0.1s ease-in;
}

.dock-item-focus-fade1 {
    width: 5rem;
    height: 5rem;
    transform: scale(110%) translateY(-30%);
    margin: 0.5rem 0.6rem 0.25rem 0.6rem;
}

.dock-label {
    position: absolute;
    background: var(--dock-color);
    border: solid 1px var(--dock-outline);
    width: auto;
    height: 1rem;
    padding: 0.3rem 0.55rem;
    left: 50%;
    top: -35%;
    color: var(--dock-label-color);
    filter: drop-shadow(0 0 8px #0000005F);
    -webkit-filter: drop-shadow(0 0 8px #0000005F);
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
    font-weight: 300;
    font-size: 0.8rem;
    white-space: nowrap;
    transform: translateX(-50%);
    opacity: 0.0;
    transition: 0.1s ease-in-out;
    border-radius: 0.35rem;
    pointer-events: none;
}

.dock-item-focus .dock-label {
    opacity: 1.0;
}

.dock-item-focus .has-focus {
    bottom: 0rem;
}

.program-area {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.app-window {
    position: absolute;
    background: var(--app-background-alpha);
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
    border: solid 2px #FFFFFF10;
    border-radius: 0.65rem;
    filter: drop-shadow(0 0 24px #000000CF);
    -webkit-filter: drop-shadow(0 0 24px #000000CF);
    transition: 0.05s;
    overflow: hidden;
}

.window-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: var(--dock-label-color);
    font-size: 0.95rem;
    font-weight: 400;
    margin-top: 0.5rem;
    opacity: 0.8;
    pointer-events: none;
}

.window-area {
    width: 100%;
    height: 2.2rem;
    border-top-left-radius: 0.65rem;
    border-top-right-radius: 0.65rem;
    overflow: hidden;
}

.memo-window-expand {
    height: 3rem;
}

.window-focus .program {
    pointer-events: none;
}

.window-non-alpha {
    background: var(--app-background);
}

.hidden-app {
    opacity: 0.0;
    pointer-events: none;
    left: 50%;
    transform: scale(0%);
    transition: 0.25s ease-in-out;
}

.profile-app {
    width: 38rem;
    height: 24rem;
}

.lang-stack-app {
    width: 56rem;
    height: 48rem;
}

.tech-stack-app {
    width: 64rem;
    height: 42rem;
}

.simulator-app {
    width: 1280px;
    height: calc(480px + 2.2rem);
}

.contact-app {
    width: 38rem;
    height: 22rem;
}

.memo-app {
    width: 62rem;
    height: 40rem;
}

.terminal-app {
    width: 38rem;
    height: 26rem;
}

.setting-app {
    width: 36rem;
    height: 32rem;
}

.stretch-app {
    width: 100%;
    height: calc(100% - 1.8rem - 5.5rem);
}

.lang-stack-app-window {
    background: #383a3d;
}

.tech-stack-app-window {
    background: #1E1E1E;
}

.terminal-app-window {
    background: #413F41;
}

.program {
    position: absolute;
    width: 100%;
    height: 100%;
}

.memo-program {
    height: calc(100% - 3rem);
    bottom: 0;
}

.lang-stack-app .program {
    background: #1f1f24;
}

.tech-stack-app .program {
    background: #1E1E1E;
}

.simulator-app .program {
    background: #000000;
}

.terminal-app .program {
    background: #1E1E1E;
}

.terminal-title {
    opacity: 0.75;
    font-weight: 600;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    opacity: 1.0;
    transition: 0.1s;
}

.window-control {
    position: absolute;
    width: 4.1rem;
    height: 2.2rem;
    left: 0.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 1;
}

.control-button {
    position: relative;
    width: 0.7rem;
    height: 0.7rem;
    margin-top: 0.6rem;
    background: white;
    border-radius: 50%;
}

.control-button img {
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.0;
    transition: 0.1s ease-in-out;
}

.window-control:hover img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.7;
}

.close-color {
    background-color: #ff5f56;
    border: solid 1px #e0443e;
}

.minimize-color {
    background-color: #ffbd2e;
    border: solid 1px #dea123;
}

.stretch-color {
    background-color: #27c93f;
    border: solid 1px #1aab29;
}

.non-focus .control-button {
    background-color: #b6b6b7;
    border: solid 1px #89898a;
}

.disable-control {
    pointer-events: none;
    background-color: #b6b6b7;
    border: solid 1px #89898a;
}

.tab-switcher {
    width: auto;
    height: auto;
    position: absolute;
    left: 50%;
    margin-top: 0.25rem;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #15161c50;
    border: 1px solid #FFFFFF15;
    border-radius: 0.5rem;
    pointer-events: all;
}

.tab-item {
    padding: 0.3rem 1rem 0.3rem 1rem;
    height: 1.1rem;
    font-size: 0.9rem;
    font-weight: 300;
    color: #FFFFFFCF;
    text-align: center;
    transition: 0.15s ease-in-out;
    background: transparent;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    cursor: pointer;
}

.tab-item:hover {
    color: #FFFFFFDF;
    font-weight: 400;
}

.tab-item-focus {
    color: #FFFFFF;
    font-weight: 500;
    background: #15161c;
    border: 1px solid #FFFFFF15;
    cursor: default;
}

.tab-item-focus:hover {
    color: #FFFFFF;
    font-weight: 500;
}

.fade {
    opacity: 0.0;
}

.window-tab-figma {
    width: 7rem;
    height: 100%;
    margin-left: 5.7rem;
    background: #2C2C2C;
}

.tab-figma-image {
    position: absolute;
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 0.2rem;
    background: url("../res/images/figma_tab_image.png");
    background-size: cover;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.tab-figma-text {
    position: absolute;
    color: #FFFFFFCF;
    font-size: 0.8rem;
    font-weight: 300;
    margin-top: 0.45rem;
    margin-left: 2rem;
}

.window-right-button {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    margin-top: -2.5rem;
    right: 0;
    border-left: 0.5px solid #444444;
}

.window-right-button:hover {
    background: #2C2C2C;
}

.dot-img {
    position: absolute;
    width: 1rem;
    top: 50%;
    left: 50%;
    opacity: 0.8;
    transform: translate(-50%, -50%);
}

.contact-window {
    position: absolute;
    width: 13rem;
    height: 2.2rem;
    background: #2424246F;
    z-index: 0;
    border-right: 0.5px solid #00000038;
}

.memo-window {
    position: absolute;
    right: 0;
    width: calc(100% - 20rem);
    height: 3rem;
    background: #262626cf;
    z-index: 0;
    border-left: 0.5px solid #00000038;
}

.setting-window {
    position: absolute;
    width: 12rem;
    height: 2.2rem;
    background: #2424246F;
    z-index: 0;
    border-right: 0.5px solid #00000038;
}

.setting-title {
    position: absolute;
    left: 43%;
    transform: translateX(-50%);
    color: var(--dock-label-color);
    font-size: 0.97rem;
    font-weight: 600;
    margin-top: 0.9rem;
    opacity: 0.8;
    pointer-events: none;
}