.program {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    z-index: 1;
    animation: window 3s forwards steps(1, end);
}

.WINDOW {
    position: absolute;
    background: #c0c0c0;
    border-top: ridge 6px #ffffff;
    border-left: ridge 6px #ffffff;
    border-bottom: ridge 6px #000000;
    border-right: ridge 6px #000000;
}

.WINDOW.INFO {
    top: 50%;
    left: 50%;
    transform: translate(-90%, -70%);
    animation: window 3.2s forwards steps(1, end);
}

.WINDOW.IMAGE {
    top: 50%;
    left: 50%;
    transform: translate(-10%, -30%);
    animation: window 3.5s forwards steps(1, end);
}

.WINDOW.MC {
    top: 50%;
    left: 50%;
    transform: translate(-40%, -70%);
    animation: window 1.0s forwards steps(1, end);
}

.WINDOW.ERROR {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.INFO {
    width: 500px;
    height: 375px;
    z-index: 4;
}

.windowhint {
    position: absolute;
    border: #f2de94 solid 4px;
    mix-blend-mode: difference;
    z-index: 4;
}

#infohint {
    visibility: collapse;
    width: 500px;
    height: 375px;
}

#imagehint {
    visibility: collapse;
    width: 350px;
    height: 310px;
}

#errorhint {
    visibility: collapse;
    width: 350px;
    height: 125px;
}

#mchint {
    visibility: collapse;
    width: 800px;
    height: 600px;
}

.logonimg {
    padding: 0;
    width: 100%;
}

.infotext {
    margin-left: 10px;
    margin-top: 10px;
}

.infotext hr {
    width: 99%;
    border-top: ridge 1px #ffffff;
    border-left: ridge 1px #ffffff;
    border-bottom: ridge 1px #000000;
    border-right: ridge 1px #000000;
    margin-top: 16px;
    margin-bottom: 16px;
}

.IMAGE {
    width: 350px;
    height: 310px;
    z-index: 3;
}

.MC {
    width: 800px;
    height: 600px;
    z-index: 3;
}

.ERROR {
    width: 350px;
    height: 125px;
    z-index: 3;  
}

.TITLE {
    color: #FFF;
    font-family: 'Gulim';
    font-size: 15px;
    padding: 2px;
}

.INFO .TITLE {
    background: linear-gradient(0.25turn, #00003f, #a6c6f7);
}

.IMAGE .TITLE {
    background: linear-gradient(0.25turn, #808080, #c3c2bf);
}

.MC .TITLE {
    background: linear-gradient(0.25turn, #808080, #c3c2bf);
}

.ERROR .TITLE {
    background: linear-gradient(0.25turn, #808080, #c3c2bf);
}


.TITLE .TEXT {
    position: relative;
    top: 3px;
    left: 2px;
    float: left;
}

.TITLE .BUTTON {
    position: relative;
    right: 2px;
    float: right;
}

.BUTTON .BORDER {
    width: 22px;
    height: 22px;

    background: #c0c0c0;
    border-top: ridge 2px #ffffff;
    border-left: ridge 2px #ffffff;
    border-bottom: ridge 2px #000000;
    border-right: ridge 2px #000000;
}

.BUTTON .BORDER:focus {
    background: #aaaaaa;
    border-top: ridge 2px #000000;
    border-left: ridge 2px #000000;
    border-bottom: ridge 2px #ffffff;
    border-right: ridge 2px #ffffff;
}


.DETAIL {
    padding: 4px;
    font-family: 'Gulim';
}

.EXIT {
    font-family: 'Gulim';
    font-weight: bold;
    -webkit-text-stroke: 1px #000;
    font-size: 15px;
    padding: 0;
    animation: bap 0.01s infinite;
}

.NEXIT {
    font-family: 'Gulim';
    font-weight: bold;
    font-size: 15px;
    padding: 0;
}

.RESIZE {
    background: #c0c0c0;
    position: relative;
    width: 16px;
    height: 16px;
    float: right;
    top: 13px;
    left: 3px;
    bottom: 0;
}

.RFT {
    font-family: 'Gulim';
    font-weight: bold;
    font-size: 15px;
}

.ALARM img {
    position: absolute;
    bottom: 42px;
    left: 10px;
    width: 50px;
}

.ALARM p {
    position: absolute;
    font-family: 'Gulim';
    font-size: 14px;
    left: 65px;
    margin-right: 10px;
}

.ALARM button {
    width: 100px;
    height: 28px;

    font-family: 'Gulim';
    font-size: 13px;
    font-weight: bold;

    background: #c0c0c0;
    border-top: ridge 3px #ffffff;
    border-left: ridge 3px #ffffff;
    border-bottom: ridge 3px #000000;
    border-right: ridge 3px #000000;
}

.ALARM button:focus {
    background: #aaaaaa;
    border-top: ridge 3px #000000;
    border-left: ridge 3px #000000;
    border-bottom: ridge 3px #ffffff;
    border-right: ridge 3px #ffffff;
}

.rbtn {
    display: flex;
}

.ALARM #ATAG {
    margin-left: 140px;
    margin-top: 60px;
    margin-right: 2px;
}

.ALARM #BTAG {
    margin-left: 2px;
    margin-right: 10px;
    margin-top: 60px;
}

.ALARMHIDDEN {
    display: none;
}

@keyframes window {
    0%{
        cursor: url(../cursor/Cursor_3.cur) 2 2, wait;
        opacity: 0.0;
    }
    100% {
        cursor: url(../cursor/arrow.cur) 2 2, default;
        opacity: 1.0;
    }
}