.program {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;

    z-index: 1;
}

.WINDOW {
    position: absolute;

    background: #c0c0c0;
    border-top: ridge 6px #ffffff;
    border-left: ridge 6px #ffffff;
    border-bottom: ridge 6px #000000;
    border-right: ridge 6px #000000;

}

.WINDOW.INFO {
    top: 50%;
    left: 50%;
    transform: translate(-85%, -200%);
}

.WINDOW.IMAGE {
    top: 50%;
    left: 50%;
    transform: translate(-30%, -40%);
}

.INFO {
    width: 250px;
    height: 75px;
}

.IMAGE {
    width: 250px;
    height: 250px;
}

.TITLE {
    background: #000080;
    color: #FFF;
    font-family: 'Gulim';
    font-size: 15px;
    padding: 2px;
}

.TITLE .TEXT {
    position: relative;
    top: 3px;
    left: 2px;
    float: left;
}

.TITLE .BUTTON {
    position: relative;
    right: 2px;
    float: right;
}

.BUTTON .BORDER {
    width: 22px;
    height: 22px;

    background: #c0c0c0;
    border-top: ridge 2px #ffffff;
    border-left: ridge 2px #ffffff;
    border-bottom: ridge 2px #000000;
    border-right: ridge 2px #000000;
}

.BUTTON .BORDER:focus {
    background: #aaaaaa;
    border-top: ridge 2px #000000;
    border-left: ridge 2px #000000;
    border-bottom: ridge 2px #ffffff;
    border-right: ridge 2px #ffffff;
}


.DETAIL {
    padding: 4px;
    font-family: 'Gulim';
}

.EXIT {
    font-family: 'Gulim';
    font-weight: bold;
    font-size: 15px;
    padding: 0;
    animation: bap 0.01s infinite;
}