.program {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;

    z-index: 1;
}

.WINDOW {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    background: #c0c0c0;
    border-top: ridge 6px white;
    border-left: ridge 6px white;
    border-bottom: ridge 6px black;
    border-right: ridge 6px black;

}

.INFO {
    width: 250px;
    height: 250px;
}

.TITLE {
    background: #000080;
    color: #FFF;
    font-family: 'Gulim';
    font-size: 15px;
    padding: 2px;
}

.TITLE .TEXT {
    position: relative;
    top: 3px;
    left: 2px;
    float: left;
}

.TITLE .BUTTON {
    position: relative;
    right: 2px;
    float: right;
}

.BUTTON .BORDER {
    width: 22px;
    height: 22px;

    background: #c0c0c0;
    border-top: ridge 2px white;
    border-left: ridge 2px white;
    border-bottom: ridge 2px black;
    border-right: ridge 2px black;
}

.BUTTON .BORDER:focus {
    background: #aaaaaa;
    border-top: ridge 2px black;
    border-left: ridge 2px black;
    border-bottom: ridge 2px white;
    border-right: ridge 2px white;
}


.DETAIL {
    padding: 4px;
    font-family: 'Gulim';
}

.EXIT {
    font-family: 'Gulim';
    font-weight: bold;
    font-size: 15px;
    padding: 0;
}