/* Pretendard */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

html,
body {
    margin: 0;
    overflow: hidden;
    background: #000000;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    touch-action: pan-x pan-y;
}

:root {
    --dock-color: #191c1cA1;
    --menu-color: #191c1c81;
    --menu-label-color: #FFFFFFCF;
    --dock-outline: #ffffff10;
    --menu-outline: #ffffff20;
    --dock-label-color: #FFFFFF;
    --app-background: #202327;
    --app-background-alpha: #202327DF;
}

.main-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    overflow: hidden;
}

.mobile-agent {
    background: #000000;
}

.background-image {
    background-position: center;
    background-repeat: no-repeat;
}

.drag-block {
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.root-version::after {
    content: "2024년 05월 10일에 업데이트 되었습니다!";
}