
* {
    cursor: non;
}

.bootscreen {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #FFF;
}

.progress {
    position: fixed;
    margin: 0;
    bottom: 0;
    width: 100%;
    height: 76px;
    padding-bottom: 0;
    background: #c1bec5;

    border-top: ridge 2px #000000A0;
    border-left: ridge 2px #fff;
    border-bottom: ridge 2px #fff;
    border-right: ridge 2px #fff;
}

.rtext {
    position: absolute;
    left: 50%;
    top: 98%;
    transform: translate(-50%, -50%);
    text-align : center;
    font-family: 'Gulim';
    font-size: 14px;
}

.bootimg {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 64vh;
    z-index: 1;
}

.logoimg {
    position: absolute;
    top: 4%;
    right: 0;
    transform: translate(-20%, -50%);
    width: 19vh;
    z-index: 1;
}