* {
    cursor: none;
}

.bootscreen {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #FFF;
}

.progress {
    position: fixed;
    margin: 0;
    bottom: 0;
    width: 100%;
    height: 76px;
    padding-bottom: 0;
    background: #c1bec5;

    border-top: ridge 2px #000000A0;
    border-left: ridge 2px #fff;
    border-bottom: ridge 2px #fff;
    border-right: ridge 2px #fff;
}

.rtext {
    position: absolute;
    left: 50%;
    top: 98%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Gulim';
    font-size: 14px;
}

.load {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 94.5%;
    transform: translate(-50%, -50%);
}

.rmar {
    margin-right: 12px;
    font-family: 'Gulim';
    font-size: 14px;
    white-space:nowrap;
}

.marq {
    width: 100%;
    height: 12px;
    position: absolute;
    left: 50%;
    bottom: 6.75%;
    transform: translate(-50%, -50%);
    background: linear-gradient(0.25turn, #00299c, #0073de, #00299c);
}

progress {
    rotate: 180deg;
    height: 16px;
    width: 20%;
    background-image: url(../image/Progress.png);
    border: 1px solid #999999;
    background-size: 5%;
    padding: 0;
    background-color: transparent;
}

progress::-webkit-progress-value {
    background-color: #c5c5c5;
}

progress::-moz-progress-bar {
    background-color: #c5c5c5;
}

progress::-webkit-progress-bar {
    background: url(../image/Progress.png);
}

.bootimg {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 64vh;
    z-index: 1;
}

.logoimg {
    position: absolute;
    top: 4%;
    right: 0;
    transform: translate(-20%, -50%);
    width: 19vh;
    z-index: 1;
}