html, body {
    margin: 0;
    background: transparent;
}

.app {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent;
}

.top-menu {
    position: absolute;
    width: 100%;
    height: 3rem;
    background: #2C2C2C;
    border-bottom: 1px solid #444444;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.menu-item {
    position: relative;
    width: 3rem;
    height: 3rem;
}

.focus-item {
    background: #0C8CE9;
}

.menu-item:hover {
    background: #111111;
}

.focus-item:hover {
    background: #0C8CE9;
}

.menu-item img {
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: 0.7;
}

.side-bar {
    position: absolute;
    width: 14rem;
    height: 100%;
    background: #2C2C2C;
    border-right: 1px solid #444444;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.move-layout {
    position: absolute;
    width: calc(100% - 14rem);
    height: calc(100% - 3rem - 2rem);
    margin-top: 3rem;
    margin-left: 14rem;
    overflow: scroll;
}

.move-scale {
    width: 75rem;
    height: 50rem;
}

.draft-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    font-weight: 400;
    white-space: nowrap;
    color: #FFF;
    display: flex;
    flex-direction: row;
    margin-top: 0.85rem;
}

.draft-inner {
    opacity: 0.5;
    margin-right: 0.5rem;
}

.test-img {
    width: 15rem;
}

.content-meta {
    position: absolute;
    left: 25rem;
    top: 15rem;
    width: fit-content;
    height: fit-content;
    border: 0.5px solid transparent;
}

.content-meta:hover {
    border: 0.5px solid #0C8CE9;
}

.meta-tag {
    position: absolute;
    color: #FFFFFF;
    font-size: 0.5rem;
    font-weight: 300;
    margin-top: -0.7rem;
    opacity: 0.2;
}

.content-meta:hover .meta-tag {
    color: #0C8CE9;
    opacity: 1.0;
}