html, body {
    margin: 0;
    background: transparent;
}

.app {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent;
}

.top-menu {
    position: absolute;
    width: 100%;
    height: 3rem;
    background: #2C2C2C;
    border-bottom: 1px solid #444444;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.menu-item {
    position: relative;
    width: 3rem;
    height: 3rem;
}

.focus-item {
    background: #0C8CE9;
}

.menu-item:hover {
    background: #111111;
}

.focus-item:hover {
    background: #0C8CE9;
}

.menu-item img {
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: 0.7;
}

.side-bar {
    position: absolute;
    width: 14rem;
    height: calc(100% - 3rem);
    background: #2C2C2C;
    border-right: 1px solid #444444;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.side-bar::-webkit-scrollbar {
    display: none;
}

.bottom-margin {
    height: 4rem;
}

.scroll-area {
    width: 100%;
    height: 100%;
}

.tab-canvas {
    position: relative;
    width: calc(100% - 0.6px);
    height: 2.3rem;
    border: 0.3px solid transparent;
    margin-top: 1px;
}

.canvas-icon {
    position: absolute;
    top: 50%;
    left: 0.75rem;
    transform: translateY(-50%); 
    width: 0.9rem;
    height: 0.9rem;
    background-size: cover; 
}

.icon-grid {
    background-image: url("./res/grid.png");
}

.icon-rec {
    background-image: url("./res/Rectangle.png");
    opacity: 0.4;
}

.icon-text {
    background-image: url("./res/Text.png");
    opacity: 0.4;
}

.icon-image {
    background-image: url("./res/image.png");
    opacity: 0.4;
}

.canvas-label {
    position: absolute;
    color: #FFFFFF;
    font-size: 0.8rem;
    font-weight: 400;
    top: 50%;
    left: 2.2rem;
    transform: translateY(-50%);
}

.tab-canvas:hover {
    border: 0.3px solid #0C8CE9;
}

.move-layout {
    position: absolute;
    width: calc(100% - 14rem);
    height: calc(100% - 3rem - 2rem);
    margin-top: 3rem;
    margin-left: 14rem;
    overflow: scroll;
}

.move-layout::-webkit-scrollbar {
    width: 12px;
}

.move-layout::-webkit-scrollbar-button {
    display: none;
}

.move-layout::-webkit-scrollbar-corner {
    display: none;
}

.move-layout::-webkit-scrollbar-thumb {
    background: #00000070;
    border: 1px solid #FFFFFF40;
    border-radius: 6px;
}

.move-layout::-webkit-scrollbar-track {
    background: transparent;
}

.move-scale {
    width: 125rem;
    height: 100rem;
}

.draft-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    font-weight: 400;
    white-space: nowrap;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    margin-top: 0.85rem;
}

.scale-button {
    position: absolute;
    width: 3.5rem;
    height: 3rem;
    right: 0;
    font-size: 0.8rem;
    font-weight: 300;
    white-space: nowrap;
    color: #FFFFFFCF;
    display: flex;
    flex-direction: row;
}

.scale-button:hover {
    background: #111111;
}

.scale-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.draft-inner {
    opacity: 0.5;
    margin-right: 0.5rem;
}

.content-meta {
    position: absolute;
    width: fit-content;
    height: fit-content;
    border: 0.1px solid transparent;
}

.meta-rel {
    position: relative;
    margin-top: 1rem;
}

.content-meta:hover {
    border: 0.1px solid #0b7ac9;
}

.meta-tag {
    position: absolute;
    color: #FFFFFF;
    font-size: 0.5rem;
    font-weight: 300;
    margin-top: -0.7rem;
    opacity: 0.2;
}

.content-meta:hover .meta-tag {
    color: #0C8CE9;
    opacity: 1.0;
}

.text-src-01 {
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: 600;
}

.text-src-02 {
    color: #FFFFFFA0;
    font-size: 1rem;
    font-weight: 300;
}

.text-01 {
    left: 5rem;
    top: 5rem;
}

.text-02 {
    left: 5rem;
    top: 10rem;
}

.alert {
    position: absolute;
    width: calc(100% - 14rem - 1px);
    height: 2.5rem;
    margin-top: calc(3rem + 1px);
    right: 0;
    background: #0C8CE9;
    z-index: 1;
}

.alert-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-size: 0.95rem;
    font-weight: 400;
    color: #FFFFFF;
}

.alert-close {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.5rem;
    padding: 0.35rem 0.75rem;
    border-radius: 0.4rem;
    background: #FFCD2A;
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000;
}

.Rectangle-01 {
    left: 5rem;
    top: 14rem;
}

.text-03 {
    left: 13rem;
    top: 14.65rem;
}

.Rectangle-02 {
    left: 25.5rem;
    top: 14rem;
}

.text-04 {
    left: 33rem;
    top: 14.65rem;
}

.text-src-03 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-size: 1.1rem;
    font-weight: 500;
}

.Rectangle-src-01 {
    width: 20rem;
    height: 2.5rem;
    background: #0C8CE9;
    border-radius: 0.5rem;
}

.Rectangle-src-02 {
    width: 20rem;
    height: 9.5rem;
    background-size: cover;
    border-radius: 0.5rem;
}

.item-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 5rem;
    top: 18rem;
}

.sw-list {
    left: 25.5rem;
}

.rasp-img {
    background-image: url("./res/raspberrypi.png");
}

.arduino-img {
    background-image: url("./res/arduino.png");
}

.latte-img {
    background-image: url("./res/latte.png");
}

.plc1-img {
    background-image: url("./res/plc1.png");
}

.plc2-img {
    background-image: url("./res/plc2.png");
}

.plc3-img {
    background-image: url("./res/plc3.png");
}

.git-img {
    background-image: url("./res/git.png");
}

.figma-img {
    background-image: url("./res/figma.png");
}