html, body {
    margin: 0;
    background: transparent;
}

.app {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent;
}

.top-menu {
    position: absolute;
    width: 100%;
    height: 3rem;
    background: #2C2C2C;
    border-bottom: 1px solid #444444;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.menu-item {
    position: relative;
    width: 3rem;
    height: 3rem;
}

.focus-item {
    background: #0C8CE9;
}

.menu-item:hover {
    background: #111111;
}

.focus-item:hover {
    background: #0C8CE9;
}

.menu-item img {
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: 0.7;
}

.side-bar {
    position: absolute;
    width: 14rem;
    height: calc(100% - 3rem);
    background: #2C2C2C;
    border-right: 1px solid #444444;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    bottom: 0;
}

.tab-canvas {
    position: relative;
    width: calc(100% - 0.6px);
    height: 2.3rem;
    border: 0.3px solid transparent;
    margin-top: 1px;
}

.canvas-icon {
    position: absolute;
    top: 50%;
    left: 0.75rem;
    transform: translateY(-50%); 
    width: 0.9rem;
    height: 0.9rem;
    background-image: url("./res/grid.png");
    background-size: cover; 
}

.canvas-label {
    position: absolute;
    color: #FFFFFF;
    font-size: 0.8rem;
    font-weight: 400;
    top: 50%;
    left: 2.2rem;
    transform: translateY(-50%);
}

.tab-canvas:hover {
    border: 0.3px solid #0C8CE9;
}

.move-layout {
    position: absolute;
    width: calc(100% - 14rem);
    height: calc(100% - 3rem - 2rem);
    margin-top: 3rem;
    margin-left: 14rem;
    overflow: scroll;
}

.move-layout::-webkit-scrollbar {
    width: 12px;
}

.move-layout::-webkit-scrollbar-button {
    display: none;
}

.move-layout::-webkit-scrollbar-corner {
    display: none;
}

.move-layout::-webkit-scrollbar-thumb {
    background: #00000070;
    border: 1px solid #FFFFFF40;
    border-radius: 6px;
}

.move-layout::-webkit-scrollbar-track {
    background: transparent;
}

.move-scale {
    width: 75rem;
    height: 50rem;
}

.draft-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    font-weight: 400;
    white-space: nowrap;
    color: #FFF;
    display: flex;
    flex-direction: row;
    margin-top: 0.85rem;
}

.draft-inner {
    opacity: 0.5;
    margin-right: 0.5rem;
}

.test-img {
    width: 15rem;
}

.content-meta {
    position: absolute;
    width: fit-content;
    height: fit-content;
    border: 0.5px solid transparent;
}

.content-meta:hover {
    border: 0.5px solid #0C8CE9;
}

.meta-tag {
    position: absolute;
    color: #FFFFFF;
    font-size: 0.5rem;
    font-weight: 300;
    margin-top: -0.7rem;
    opacity: 0.2;
}

.content-meta:hover .meta-tag {
    color: #0C8CE9;
    opacity: 1.0;
}

.text-src-01 {
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: 600;
}

.text-src-02 {
    color: #FFFFFFA0;
    font-size: 1rem;
    font-weight: 300;
}

.text-01 {
    left: 5rem;
    top: 5rem;
}

.text-02 {
    left: 5rem;
    top: 10rem;
}