html, body {
    margin: 0;
    background: transparent;
}

.app {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent;
}

.side-bar {
    position: absolute;
    width: 12rem;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #2424246F;
    border-right: 0.5px solid #00000038;
}

.content-area {
    position: absolute;
    width: calc(100% - 12rem);
    height: 100%;
    right: 0;
    z-index: 1;
}

.side-content {
    padding: 5px 8px 5px 8px;
    margin: 0 6px 4px 6px;
    font-size: 0.84rem;
    color: #FFFFFFCF;
    border-radius: 0.4rem;
    font-weight: 300;
    display: flex;
    flex-direction: row;
}

.search {
    height: 0.92rem;
    padding: 5px 8px 5px 8px;
    margin: 4px 6px 8px 6px;
    font-size: 0.84rem;
    border: 1px solid #FFFFFF12;
    border-radius: 0.4rem;
    outline: none;
    color: #FFFFFF;
    background: #FFFFFF10;
}

.search:focus {
    border: 1px solid #0c6dcf;
}

.focus {
    background: #0c6dcf;
}

.content-img {
    width: 1.25rem;
    height: 1.25rem;
    margin-top: 0.05rem;
}

.content-text {
    margin-left: 0.4rem;
    margin-top: 0.15rem;
}

.inner-content {
    position: absolute;
    width: 22rem;
    height: 14rem;
    top: 0.8rem;
    left: 50%;
    transform: translateX(-50%);
    background: #b3b3b305;
    border: 1px solid #FFFFFF14;
    border-radius: 0.3rem;
}

.inner-top-text {
    position: absolute;
    color: #FFFFFFCF;
    font-size: 0.75rem;
    top: 0.6rem;
    left: 0.6rem;
}

.inner-bottom-text {
    position: absolute;
    color: #FFFFFF7C;
    font-size: 0.6rem;
    top: 12.5rem;
    left: 0.6rem;
}

.inner-split1,
.inner-split2 {
    position: absolute;
    width: 21rem;
    height: 0.05rem;
    background: #FFFFFF15;
}

.inner-split1 {
    top: 2.2rem;
    left: 0.4rem;
}

.inner-split2 {
    top: 11.8rem;
    left: 0.4rem;
}

.inner-button {
    position: absolute;
    color: #FFFFFF;
    font-size: 0.7rem;
    font-weight: 300;
    right: 0.8rem;
    top: 12.3rem;
    padding: 0.13rem 0.65rem;
    background: #747474a0;
    border: 1px solid #FFFFFF10;
    border-radius: 0.3rem;
    filter: drop-shadow(0 6px 8px #00000040);
    cursor: pointer;
}

.inner-selector {
    position: absolute;
    width: 100%;
    height: 9rem;
    top: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.disk-item {
    position: relative;
    width: 6.5rem;
    height: 8rem;
    margin-top: 0.5rem;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 0.2rem;
}

.item-focus {
    background: #FFFFFF08;
    border: 1px solid #FFFFFF10;
}

.disk-label {
    position: absolute;
    bottom: 1.4rem;
    left: 50%;
    transform: translateX(-50%);
    color: #FFFFFF;
    font-size: 0.76rem;
    font-weight: 300;
    opacity: 0.85;
    white-space: nowrap;
    transition: 0.05s ease-out;
}

.disk-icon {
    position: absolute;
    width: 5rem;
    height: 5rem;
    left: 50%;
    margin-top: 0.5rem;
    transform: translateX(-50%);
    background-size: 4rem 4rem;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    transition: 0.05s ease-out;
}

.disk-image1 {
    background-image: url("../../res/images/disk.png");
}

.disk-image2 {
    background-image: url("../../res/images/removable_disk.png");
}

.disk-image3 {
    background-image: url("../../res/images/timemachine_disk.png");
}
