
@font-face {
    font-family: 'DOSMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSMyungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    background: #0000a8;
}

.thismine {
    color: #4dcf22;
}

.admin {
    color: #FFFF00;
}

.maxtxt {
    position: absolute;
    color: #FFFFFF;

    font-family: "DOSMyungjo";
    font-size: 20px;

    opacity: 0.75;

    right: -7%;

    margin-top: 6px;
}

.message_area {
    margin-left: 36px;
    margin-top: 36px;
}

.welcome_message {
    font-family: "DOSMyungjo";
    font-size: 20px;
    color: #FFF;
    display: flex;
}

.constmargin {
    margin-top: 24px;
}

.rmbtn {
    display: flex;
}

.rmbtnx {
    display: none;
}

.inputbox {
    margin-left: 12px;

    font-family: "DOSMyungjo";
    font-size: 20px;

    background: none;
    outline: none;

    border: none;

    color: #FFF
}

.redhigh {
    color: #f10b0b;
}

.msgapp-title {
    background: #01007f;
    color: #FFFFFF;

    font-family: "DOSMyungjo";
    font-size: 20px;

    width: calc(100% - 24px);
    height: 100%;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 24px;
    margin-bottom: 4px;

    padding-top: 12px;
    padding-bottom: 12px;

    filter: drop-shadow(4px 4px 0px #020248);

    text-align: center;

    z-index: 10;
}

.message {
    width: 100%;
    height: 32px;

    display: flex;
    color: #FFF;

    font-family: "DOSMyungjo";
    font-size: 20px;
    position: relative;
}

.userid {
    margin-left: 24px;
}

.msgbox {
    position: absolute;
    margin-left: 156px;
    white-space: nowrap;
    width: 100%;
    display: flex;
}

.btn {
    display: none;
    width: 0;
    height: 0;
}

.msgerx {
    position: absolute;
    top: 94%;
    left: 0;
    transform: translateY(-50%);
    margin-bottom: 48px;

    width: 100%;
}

.msgboxa {
    position: absolute;
    white-space: nowrap;
    width: calc(100% - 316px);
    margin-left: 158px;
    margin-right: 158px;
    display: flex;
}

.gridx {
    display: flex-direction;
}


.textbox {
    width: 100%;
    height: 35px;

    background: none;
    border: none;
    outline: none;

    color: #FFF;

    font-family: "DOSMyungjo";
    font-size: 20px;
    position: relative;
}

.wth {
    position: absolute;
    bottom: 0;
    overflow: hidden;
}

#cf {
    position: absolute;
    
    width: 100%;
    height: 80%;

    left: 50%;
    transform: translateX(-50%);

    bottom: 0;
    margin-bottom: 56px;
}

.cursor_blink {
    position: absolute;
    width: 15px;
    height: 28px; 

    margin-top: 5px;

    background: #f2de94;
    mix-blend-mode: difference;
    animation: infinite blinkcursor 1.1s steps(1, end);
}

@keyframes blinkcursor {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

.blinker_hidden {
    display: none;
}