.program {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    z-index: 1;
    animation: window 0.7s forwards steps(1, end);
}

.PROGRAMICON {
    width: 16px;
    height: 16px;
}

.WINDOW {
    position: absolute;
    background: #c0c0c0;
    border-top: ridge 6px #ffffff;
    border-left: ridge 6px #ffffff;
    border-bottom: ridge 6px #000000;
    border-right: ridge 6px #000000;

    filter: drop-shadow(4px 4px 4px #0000002f);
}

.WINDOW_SORI {
    position: absolute;
    background: #c0c0c0;
    border-top: ridge 10px #ffffff;
    border-left: ridge 10px #ffffff;
    border-bottom: ridge 10px #000000;
    border-right: ridge 10px #000000;

    border-radius: 18px;

    filter: drop-shadow(4px 4px 4px #0000002f);
}

.WINDOW.INFO {
    top: 50%;
    left: 50%;
    transform: translate(-90%, -70%);
    animation: window 1.4s forwards steps(1, end);
}

.WINDOW.IMAGE {
    top: 50%;
    left: 50%;
    transform: translate(-10%, -30%);
    animation: window 1.7s forwards steps(1, end);
}

.WINDOW_SORI.SORI {
    top: 50%;
    left: 50%;
    transform: translate(-10%, -30%);
    animation: window 0.7s forwards steps(1, end);
}

.WINDOW.MC {
    top: 50%;
    left: 50%;
    transform: translate(-40%, -70%);
    animation: window 1.0s forwards steps(1, end);
}


.WINDOW.HITEL {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: window 7.0s forwards steps(1, end);
    overflow: visible;
}

.WINDOW.ERROR {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.INFO {
    width: 500px;
    height: 400px;
    z-index: 4;
}

.windowhint {
    position: absolute;
    border: #f2de94 solid 4px;
    mix-blend-mode: difference;
    z-index: 4;
}

#infohint {
    visibility: collapse;
    width: 500px;
    height: 400px;
}

#imagehint {
    visibility: collapse;
    width: 350px;
    height: 310px;
}

#sorihint {
    visibility: collapse;
    width: 340px;
    height: 340px;
}

#errorhint {
    visibility: collapse;
    width: 350px;
    height: 125px;
}

#mchint {
    visibility: collapse;
    width: 800px;
    height: 600px;
}

#hitelhint {
    visibility: collapse;
    width: 810px;
    height: 810px;
}

.logonimg {
    padding: 0;
    width: 100%;
}

.infotext {
    margin-left: 10px;
    margin-top: 10px;
}

.infotext hr {
    width: 99%;
    border-top: ridge 1px #ffffff;
    border-left: ridge 1px #ffffff;
    border-bottom: ridge 1px #000000;
    border-right: ridge 1px #000000;
    margin-top: 16px;
    margin-bottom: 16px;
}

.IMAGE {
    width: 350px;
    height: 310px;
    z-index: 3;
}

.SORI {
    width: 320px;
    height: 320px;
    z-index: 3;
}

.MC {
    width: 800px;
    height: 600px;
    z-index: 3;
}

.HITEL {
    width: 810px;
    height: 810px;
    z-index: 3;
}

.ERROR {
    width: 350px;
    height: 125px;
    z-index: 3;  
}

.TITLE {
    color: #FFF;
    font-family: 'Gulim';
    font-size: 15px;
    padding: 2px;
}

.INFO .TITLE {
    background: linear-gradient(0.25turn, #00003f, #a6c6f7);
}

.IMAGE .TITLE {
    background: linear-gradient(0.25turn, #808080, #c3c2bf);
}

.MC .TITLE {
    background: linear-gradient(0.25turn, #808080, #c3c2bf);
}

.HITEL .TITLE {
    background: linear-gradient(0.25turn, #808080, #c3c2bf);
}

.ERROR .TITLE {
    background: linear-gradient(0.25turn, #808080, #c3c2bf);
}

.TITLE .XICON {
    position: relative;
    top: 3px;
    left: 2px;
    margin-right: 5px;
    float: left;
}

.TITLE .TEXT {
    position: relative;
    top: 3px;
    left: 2px;
    float: left;
}

.TITLE .BUTTON {
    position: relative;
    right: 2px;
    float: right;
}

.BUTTON .BORDER {
    width: 22px;
    height: 22px;

    background: #c0c0c0;
    border-top: ridge 2px #ffffff;
    border-left: ridge 2px #ffffff;
    border-bottom: ridge 2px #000000;
    border-right: ridge 2px #000000;
}

.BUTTON .BORDER:focus {
    background: #aaaaaa;
    border-top: ridge 2px #000000;
    border-left: ridge 2px #000000;
    border-bottom: ridge 2px #ffffff;
    border-right: ridge 2px #ffffff;
}


.DETAIL {
    padding: 4px;
    font-family: 'Gulim';
}

.EXIT {
    font-family: 'Gulim';
    font-weight: bold;
    -webkit-text-stroke: 1px #000;
    font-size: 15px;
    padding: 0;
    animation: bap 0.01s infinite;
}

.NEXIT {
    font-family: 'Gulim';
    font-weight: bold;
    font-size: 15px;
    padding: 0;
}

.RESIZE {
    background: #c0c0c0;
    position: relative;
    width: 16px;
    height: 16px;
    float: right;
    top: 13px;
    left: 3px;
    bottom: 0;
}

.RFT {
    font-family: 'Gulim';
    font-weight: bold;
    font-size: 15px;
}

.ALARM img {
    position: absolute;
    bottom: 42px;
    left: 10px;
    width: 50px;
}

.ALARM p {
    position: absolute;
    font-family: 'Gulim';
    font-size: 14px;
    left: 65px;
    margin-right: 10px;
}

.ALARM button {
    width: 100px;
    height: 28px;

    font-family: 'Gulim';
    font-size: 13px;
    font-weight: bold;

    background: #c0c0c0;
    border-top: ridge 3px #ffffff;
    border-left: ridge 3px #ffffff;
    border-bottom: ridge 3px #000000;
    border-right: ridge 3px #000000;
}

.ALARM button:focus {
    background: #aaaaaa;
    border-top: ridge 3px #000000;
    border-left: ridge 3px #000000;
    border-bottom: ridge 3px #ffffff;
    border-right: ridge 3px #ffffff;
}

.rbtn {
    display: flex;
}

.ALARM #ATAG {
    margin-left: 140px;
    margin-top: 60px;
    margin-right: 2px;
}

.ALARM #BTAG {
    margin-left: 2px;
    margin-right: 10px;
    margin-top: 60px;
}

.ALARMHIDDEN {
    display: none;
}

@keyframes window {
    0%{
        cursor: url(../cursor/Cursor_3.cur) 2 2, wait;
        opacity: 0.0;
    }
    100% {
        cursor: url(../cursor/arrow.cur) 2 2, default;
        opacity: 1.0;
    }
}

.hitelframe {
    position: absolute;
    margin: 0;
    width: calc(100% - 10px);
    height: calc(100% - 36px);
}

.HITELBOX {
    position: absolute;

    background: #c0c0c0;
    border-top: ridge 3px #ffffff;
    border-left: ridge 3px #ffffff;
    border-bottom: ridge 3px #000000;
    border-right: ridge 3px #000000;

    filter: drop-shadow(4px 4px 1px #000000AF);
    -webkit-filter: drop-shadow(4px 4px 1px #000000AF);

    width: 72px;
    height: 266px;

    margin-left: -90px;
}

.HTMINIBOX {
    background: #c0c0c0;
    border-top: ridge 4px #ffffff;
    border-left: ridge 4px #ffffff;
    border-bottom: ridge 4px #000000;
    border-right: ridge 4px #000000;

    margin-top: 2px;

    width: 64px;
    height: 20px;

    font-family: 'Gulim';
    font-size: 17px;
    font-weight: bold;

    text-align: center;
}

.HTBIGBOX {
    background: #c0c0c0;
    border-top: ridge 4px #ffffff;
    border-left: ridge 4px #ffffff;
    border-bottom: ridge 4px #000000;
    border-right: ridge 4px #000000;

    margin-top: 6px;

    width: 64px;
    height: 64px;

    position: relative;
}

.HTBIGBOX:hover {
    background: #aaaaaa;
    border-top: ridge 4px #000000;
    border-left: ridge 4px #000000;
    border-bottom: ridge 4px #ffffff;
    border-right: ridge 4px #ffffff;
}

.INNERTXT {
    position: absolute;

    font-family: 'Gulim';
    font-size: 14px;

    margin-top: 42px;

    left: 50%;
    transform: translateX(-50%);

    white-space: nowrap;
}


.INNERIMAGE {
    position: absolute;

    width: 36px;
    height: 36px;

    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}

.SORITITLE {
    width: 100%;
    height: 48px;
}

.padotitle {
    width: calc(100% - 24px);
    margin-left: 12px;
    margin-right: 12px;

    margin-top: 6px;

    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
}

.BGX {
    position: absolute;
    background-image: url("../image/TILE-MA.BMP");
    background-repeat: repeat;

    width: calc(100% - 35px);
    margin-left: 11px;
    margin-right: 24px;

    height: 228px;

    border-top: ridge 5px #000000;
    border-left: ridge 5px #000000;
    border-bottom: ridge 5px #FFFFFF;
    border-right: ridge 5px #FFFFFF;

    overflow: visible;
}

.CPSR {
    position: absolute;

    background: #576675;

    width: 100%;
    height: 28px;

    bottom: 0;
    overflow: visible;

}

.playsbtn {
    position: absolute;

    width: 24px;
    height: 24px;

    right: 0;
    margin-right: 120px;

    margin-top: 5px;

    overflow: visible;
}

.bakbtn {
    position: absolute;

    width: 24px;
    height: 24px;

    right: 0;
    margin-right: 150px;

    margin-top: 5px;

    overflow: visible;
}

.forbtn {
    position: absolute;

    width: 24px;
    height: 24px;

    right: 0;
    margin-right: 90px;

    margin-top: 5px;

    overflow: visible;
}

.exitbtn {
    position: absolute;

    width: 24px;
    height: 24px;

    right: 0;
    margin-right: 6px;

    margin-top: 5px;

    overflow: visible;
}

  
.tooltip-text {
    position: absolute;
    max-width: auto;

    border: 1px solid;
    border-radius: 5px;

    padding: 5px;

    font-family: 'Gulim';
    font-size: 0.8em;

    color: #000;
    background: #ffffe2;

    transform: translate(-70px, 24px);

    border: 1px black solid;
    white-space: nowrap;
    overflow: visible;

    opacity: 0.0;

    transition: 0.1s steps(2, end);
}

.exitbtn:hover .tooltip-text {
    transform: translate(-50px, 24px);
    opacity: 1.0;
}

.playsbtn:hover .tooltip-text {
    transform: translate(-30px, 24px);
    opacity: 1.0;
}

.forbtn:hover .tooltip-text {
    transform: translate(-30px, 24px);
    opacity: 1.0;
}

.bakbtn:hover .tooltip-text {
    transform: translate(-30px, 24px);
    opacity: 1.0;
}

.EQ {
    position: absolute;

    margin-top: 80px;
    width: calc(100% - 12px);
    height: 110px;

    margin-left: 6px;
    margin-right: 6px;

    opacity: 0.9;

    transition: 0.25s ease-in-out;

    background: linear-gradient(0turn, #31ffff, #31ffff, #FFFFFF, #1feaff, #1f42df, #1f42df, #1f42dfCF, #1f42dfA2, #1f42df4F);
}

.EQ.eqmove {
    background: linear-gradient(0turn, #FFFFFF, #1feaff, #1f42df, #1f42df, #1f42df, #1f42dfCF, #1f42dfA2, #1f42df4F, #1f42df2F);
}

.EQ.eqmove1 {
    background: linear-gradient(0turn, #31ffff, #FFFFFF, #1feaff,#1f42df, #1f42df, #1f42df, #1f42dfCF, #1f42dfA2, #1f42df4F);
}

.EQ.eqmove2 {
    background: linear-gradient(0turn, #31ffff, #31ffff, #31ffff, #31ffff, #FFFFFF, #1feaff,#1f42df, #1f42dfCF, #1f42dfA2, #1f42df4F);
}

.EQ.eqmove3 {
    background: linear-gradient(0turn, #31ffff, #31ffff, #FFFFFF, #1feaff,#1f42df, #1f42df, #1f42df, #1f42dfCF, #1f42dfA2, #1f42df4F);
}

.textfor {
    position: absolute;

    font-family: 'Gulim';
    font-size: 16px;

    color: #FFF;
    outline: #000 2px;

    margin-top: 30px;
    margin-left: 12px;
}

.textfor2 {
    position: absolute;

    font-family: 'Gulim';
    font-size: 14px;

    color: #FFF;
    outline: #000 2px;

    margin-top: 52px;
    margin-left: 12px;
}