* {
    color: #FFFFFFD8;
    margin-left: 0.75rem;
}

*::selection {
    background: #EEBB23A0;
}

*::-moz-selection {
    background: #EEBB23A0;
}


html,
body {
    background: transparent;
    margin: 0.4rem 0.7rem 0 0.7rem ;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 0.9rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.non-space {
    margin-top: -1rem;
}

ul {
    margin-left: -0.75rem;
}

li {
    font-size: 1.2rem;
    font-weight: 700;
}

li-item {
    margin-left: 1.75rem;
    font-size: 0.95rem;
    font-weight: 300;
    margin-bottom: 0.1rem;
}

.root-version {
    font-size: 0.6rem;
    font-weight: 500;
    opacity: 0.5;
    text-align: center;
}

a {
    margin: 0;
    padding: 0;
    color: #EEBB23CF;
    text-decoration: underline;
    cursor: pointer;
}

.split {
    margin-top: 1.1rem;
}