html, body {
    margin: 0;
    background: transparent;
}

.app {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent;
}

.profile-image {
    position: absolute;
    width: 10rem;
    height: 10rem;
    background-image: url("./res/profile.jpg");
    background-size: cover;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 7px solid #dfdfdf;
    border-radius: 50%;
    filter: drop-shadow(0px 6px 8px #000000A0);
}

.profile-left-layout {
    position: absolute;
    width: 40%;
    height: 100%;
    left: 0;
}

.profile-right-layout {
    position: absolute;
    width: 60%;
    height: 100%;
    right: 0;
}

.profile-name {
    position: absolute;
    color: #FFFFFF;
    font-size: 2.2rem;
    font-weight: 700;
    margin-left: 2rem;
    top: 5rem;
    display: flex;
    flex-direction: row;
}

.profile-nickname {
    position: absolute;
    color: #FFFFFFCF;
    font-size: 0.9rem;
    font-weight: 400;
    margin-left: 2rem;
    top: 7.5rem;
}

.profile-description {
    position: absolute;
    color: #FFFFFFA0;
    font-size: 0.9rem;
    font-weight: 400;
    margin-left: 2rem;
    top: 9.5rem;
}

.profile-update {
    position: absolute;
    left: 50%;
    font-size: 0.7rem;
    bottom: 3rem;
    transform: translateX(-50%);
    color: #FFFFFF4F;
}

.credit-tab {
    bottom: 8rem;
}

.profile-button,
.profile-side-button {
    position: absolute;
    color: #FFFFFF;
    font-size: 0.75rem;
    font-weight: 300;
    top: 13rem;
    padding: 0.3rem 0.8rem;
    background: #15161c80;
    border: 1px solid #FFFFFF10;
    border-radius: 0.5rem;
    filter: drop-shadow(0 6px 8px #00000040);
    cursor: pointer;
}

.profile-button {
    margin-left: 2rem;
}

.profile-side-button {
    margin-left: 8rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.mbti-text {
    position: absolute;
    top: 0.25rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 9.5rem;
    font-weight: 600;
    letter-spacing: -1.92px;
    background: linear-gradient(279deg, #88619A -5.23%, #4298B4 119.43%);
    background-clip: text;
    white-space: nowrap;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 0;
}

.mbti-image {
    position: absolute;
    width: 21rem;
    margin-top: 1rem;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    cursor: help;
}

.mbti-graph-blur {
    position: absolute;
    width: 150%;
    height: 16rem;
    z-index: 6;
    bottom: 0;
    background: #202327;
    filter: blur(36px);
    -webkit-filter: blur(36px);
}

.mbti-graph-area {
    position: absolute;
    width: 100%;
    height: 12.5rem;
    z-index: 2;
    bottom: 0;
    background: #202327DF;
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
}

.mbti-area {
    position: absolute;
    width: 92%;
    height: 7rem;
    bottom: 4.2rem;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.left-text-panel,
.right-text-panel {
    width: 7rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-text-panel {
    color: #ffffff80;
    text-align: right;
    font-weight: 300;
}

.right-text-panel {
    text-align: left;
    font-weight: 500;
}

.percent-panel {
    width: calc(100% - 8rem);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-label {
    font-size: 1.05rem;
}

.right-text-panel .mbti-i {
    color: #4298B4;
}

.right-text-panel .mbti-n {
    color: #E4AE3A;
}

.right-text-panel .mbti-f {
    color: #33A474;
}

.right-text-panel .mbti-p {
    color: #88619A;
}

.percent-bar:nth-child(1) {
    filter: drop-shadow(-4px 0 28px #4298B48A);
}

.percent-bar:nth-child(2) {
    filter: drop-shadow(-4px 0 28px #E4AE3A8A);
}

.percent-bar:nth-child(3) {
    filter: drop-shadow(-4px 0 28px #33A4748A);
}

.percent-bar:nth-child(4) {
    filter: drop-shadow(-4px 0 28px #88619A8A);
}

.percent-bar .mbti-i {
    width: calc(70% / 1.1);
    background: #4298B4;
}

.percent-bar .mbti-n {
    width: calc(64% / 1.1);
    background:#E4AE3A;
}

.percent-bar .mbti-f {
    width: calc(78% / 1.1);
    background: #33A474;
}

.percent-bar .mbti-p {
    width: calc(82% / 1.1);
    background: #88619A;
}

.percent-bar {
    width: calc(100% - 3rem);
    height: 0.9rem;
    margin: 0.2rem 1.5rem 0 1.5rem;
    border-radius: 0.5rem;
    background: #0000002F;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    overflow: hidden;
}

.percent-box {
    height: calc(100% - 3px);
    border: 1.5px solid #0000003b;
    border-top-right-radius: 0.45rem;
    border-bottom-right-radius: 0.45rem;
}

.credit-image {
    position: absolute;
    width: 20rem;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
}